[submodule "vendors/SDL"]
	path = vendors/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "vendors/SDL_image"]
	path = vendors/SDL_image
	url = https://github.com/libsdl-org/SDL_image.git
